body{
    font-family: Arial;
}
li{
    list-style-type: none;
    color: black;
}
#menu a:hover{
    border-bottom: 1px blue solid;
}
#main a:hover{
    border-bottom: 1px blue solid;
}
#menu a{
    font-weight: bold;
}